@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="about-us">
    <h1>NOLADIGITAL, LLC</h1>
    <p>
        Incorporated in the
        <span style="color:red">U</span>.
        <span style="color:white">S</span>.
        <span style="color:deepskyblue">A</span>., VU Solutions is an <span class="hlt">Offshore</span> team lead by a senior Vietnamese Software Engineer with +20 years experience developing solutions for top-tier corporations and public institutions.
    </p>
    <p>Our focus is the development of cloud-based web-api <span class="hlt">backend </span> (ASP.NET Core/C#, Docker, REDIS, RabbitMQ) and REACT/Angular <span class="hlt">front-end</span>, "microservices" or domain-oriented-architecture. We have tremendous expertise in legacy n-tier applications, transition to microservices and the hybrid approach that remains a reality for most businesses in the process of transition.</p>
    <p>
        <a class="btn btn-default" asp-page="/Home/CustomDev">Learn more &raquo;</a> &nbsp;
        <a class="btn btn-default" asp-page="/Home/Contact">Contact us &raquo;</a>
    </p>
    
    <p><span class="hlt">Quality, Cost & Communication</span> is achieved at NOLA with a well-balanced team of specialists separately focusing on frontend-dev, backend-dev, and solutions architecture (SA). Our single SA-rate is negotiable and commensurate with the industry' market. Our developer-rate is <span class="amt">$20</span>.
    <p>Video: Our Principal Solutions Architect introduces himself and NOLADIGITAL, LLC.</p>
    <p><a class="btn btn-default" asp-page="/Home/Intro">Intro Video &raquo;</a></p>
</div>